/*
******
Reset
******
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
******
Common
******
*/

/*
******
Body
******
*/

body {
  background-color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  padding: 5px;
  top: 0px;
  left: 0px;
  right: 0px;
}
header button {
  margin: 2px 5px;
}
.btn-grey {
  background-color: #5a5a5a;
  color: #fff;
  border: 0;
  padding: 4px 6px;
  font-weight: bold;
  cursor: pointer;
}

/*
******
Header
******
*/

/*
******
Main
******
*/

/*
******
Footer
******
*/
