/*
******
Reset
******
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
******
Common
******
*/

/*
******
Body
******
*/

body {
  background-color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

/*
******
Header
******
*/

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  padding: 5px;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99999;
}

header button {
  margin: 2px 5px;
}
.btn-grey {
  background-color: #5a5a5a;
  color: #fff;
  border: 0;
  padding: 4px 6px;
  font-weight: bold;
  cursor: pointer;
}

/*
******
Main
******
*/

main {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}

.elenco-box {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  justify-content: flex-start;
  padding-right: 20px;
}

.box-video {
  position: relative;
  margin: 10px 5px;
}

.box-video p {
  position: absolute;
  bottom: 5px;
  left: 0px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 11px;
}

/*
******
Footer
******
*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #202020;
}

.padding-footer {
  padding: 15px 0px;
}

.btn-big {
  background: none;
  color: #fff;
  border: 0px;
  text-align: center;
  margin: 0px 5px;
  cursor: pointer;
  position: relative;
}

.btn-big.with-up {
  padding-right: 20px;
}

.btn-big i {
  font-size: 20px;
  display: block;
  margin-bottom: 8px;
}

.btn-big span {
  font-size: 11px;
  display: block;
  font-weight: normal;
}

.btn-big.with-up .fa-chevron-up {
  font-size: 10px;
  position: absolute;
  right: 0px;
  top: 15px;
}

.color-green {
  color: #00e01e;
}

.btn-red {
  background: #5a5a5a;
  color: #ff0000;
  border: 0px;
  text-align: center;
  margin: 0px;
  padding: 15px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
}

.d-flex {
  display: flex;
}
